{% extends 'base/base.html'%}

{% block body %}    
    <section class='section' id="data_table">
        <div class='table-container'>
            <table class="home-styled-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in blog_list%}
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.category}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}